@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer utilities {
  .animate-typing {
    animation: typing 3.5s steps(30, end) forwards;
  }
  .animate-blink {
    animation: blink 1s infinite step-end;
  }
} */



.line {
  display: block;
  white-space: pre;
  overflow: hidden;
  width: 0; /* Start hidden */
  animation: typing 0.7s steps(40, end) forwards; /* Typing */
}

/* Cursor for currently typing line */
.line:after {
  content: ''; /* Create a pseudo-element for the cursor */
  border-right: 1px solid white; /* Cursor */
  animation: blink 1s step-end infinite; /* Blink animation */
  display: inline-block; /* Keep it inline with text */
  margin-left: 2px; /* Adjust spacing between text and cursor */
}

/* Hide cursor when not typing */
.line:not(:last-child):after {
  display: none; /* Hide cursor for non-typing lines */
}

.line-1 {
  animation-delay: 0s;
}

.line-2 {
  animation-delay: 0.7s;
}

.line-3 {
  animation-delay: 1.4s;
}

.line-4 {
  animation-delay: 2.1s;
}

.line-5 {
  animation-delay: 2.8s;
}

.line-6 {
  animation-delay: 3.5s;
}

.line-7 {
  animation-delay: 4.2s;
}

.line-8 {
  animation-delay: 4.9s;
}

.line-9 {
  animation-delay: 5.6s;
}

.line-10 {
  animation-delay: 6.3s;
}

.line-11 {
  animation-delay: 7s;
}

.line-12 {
  animation-delay: 7.7s;
}

.line-13 {
  animation-delay: 8.4s;
}

.line-14 {
  animation-delay: 9.1s;
}

.line-15 {
  animation-delay: 9.8s;
}

/* Typing and blinking animations */
@keyframes typing {
  from {
    width: 0; /* Start hidden */
  }
  to {
    width: 100%; /* Show full width */
  }
}

@keyframes blink {
  50% {
    border-color: transparent; /* Make cursor invisible */
  }
}

/* 
.line {
  display: block;
  white-space: pre;
  overflow: hidden;
  border-right: 1px solid white; 
  width: 0; 
  animation: typing 0.7s steps(40, end) forwards, blink 1s step-end infinite; /* Typing + cursor 
}

.line-1 {
  animation-delay: 0s;
}

.line-2 {
  animation-delay: 0.7s;
}

.line-3 {
  animation-delay: 1.4s;
}

.line-4 {
  animation-delay: 2.1s;
}

.line-5 {
  animation-delay: 2.8s;
}

.line-6 {
  animation-delay: 3.5s;
}

.line-7 {
  animation-delay: 4.2s;
}

.line-8 {
  animation-delay: 4.9s;
}

.line-9 {
  animation-delay: 5.6s;
}

.line-10 {
  animation-delay: 6.3s;
}

.line-11 {
  animation-delay: 7s;
}

.line-12 {
  animation-delay: 7.7s;
}

.line-13 {
  animation-delay: 8.4s;
}

.line-14 {
  animation-delay: 9.1s;
}

.line-15 {
  animation-delay: 9.8s;
}

 */
