@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-animation {
  animation: rotate 20s linear infinite; /* 20s rotation duration */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}